* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --clr-sky-blue: #8ecae6ff;
  --clr-blue-green: #219ebcff;
  --clr-brussian-blue: #023047ff;
  --clr-selective-yellow: #ffb703ff;
  --clr-ut-orange: #fb8500ff;
  --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}
body {
  font-family: "Poppins", sans-serif;
  min-width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.white-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
  position: relative;
  overflow: hidden;
}
.white-box-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.white-box {
  width: 120px;
  height: 120px;
  /* background-color: blueviolet; */

  flex: 0 0 calc(25% - 10px);
  height: 100px;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/gif/minion-png.png");
  transform: perspective(600px) rotateX(5deg);
  box-shadow: 0 01px #f6e58d, 01px 0 #f6e58d, 01px 02px #f6e58d,
    02px 01px #f6e58d, 02px 03px #f6e58d, 03px 02px #f6e58d, 03px 04px #f6e58d,
    04px 03px #f6e58d, 04px 05px #f6e58d, 05px 04px #f6e58d, 05px 06px #f6e58d,
    06px 05px #f6e58d;
}
.animate-right {
  animation: rotate 1s linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-left {
  animation: leftanimate 1s linear;
}
@keyframes leftanimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnMagic {
  padding: 0.7rem;
  border-radius: 0.2rem;
  background-color: #f9ca24;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
}
.big-pic-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.big-image-container {
  width: 480px;
  height: 480px;
  box-shadow: 0 01px #f6e58d, 01px 0 #f6e58d, 01px 02px #f6e58d,
    02px 01px #f6e58d, 02px 03px #f6e58d, 03px 02px #f6e58d, 03px 04px #f6e58d,
    04px 03px #f6e58d, 04px 05px #f6e58d, 05px 04px #f6e58d, 05px 06px #f6e58d,
    06px 05px #f6e58d;
}

.square.disassemble {
  transform: translateX(-100%) rotateY(-360deg);
  transition: transform 0.5s;
}
.square.leftro {
  animation: leftro 1s linear infinite;
}

@keyframes leftro {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
